button {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: none;
  transition: .15s;
}
p {
  margin: 0;
}
.actions {
  width: 100%;
  padding: 1rem 0;
}
.actions__wrapper {
  display: flex;
  justify-content: space-between;
}
.actions__wrapper__search {
  background-color: var(--app-bg-content);
  border: 1px solid var(--app-bg-content);
  color: var(--app-bg-text);
  font-size: 14px;
  line-height: 24px;
  border-radius: 4px;
  padding: 0px 10px 0px 32px;
  height: 32px;
  background-image: var(--app-button-search-img);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: left 10px center;
  width: 100%;
  max-width: 320px;
  transition: 0.2s;
}

.actions__wrapper__search:placeholder {
  color: var(--app-bg-content);
}
.actions__wrapper__search:hover {
  border-color: var(--action-color-hover);
}
.actions__wrapper__search:focus {
  outline: none;
  border-color: var(--action-color);
}

.actions__wrapper__group {
  display: flex;
  column-gap: 1rem;
}
.actions__wrapper__group__switch {
  display: flex;
  column-gap: .2rem;
}
.actions__wrapper__group__create {
  min-width: 110px;
  background-color: var(--app-button-green);
  border-color: var(--app-button-green-hover);
  color: rgb(255, 255, 255);
}
.actions__wrapper__group__create:hover {
  background-color: var(--app-button-green-hover);
}

.action-button {
  background-color: var(--app-header-table);
  border: 2px solid var(--app-header-table);
  color: var(--app-bg-text);
}
.action-button:hover {
  border-color: var(--app-bg-text);
}
.search {
  display: flex;
}
.input__field {
  transition: .2s ease;
  border: none;
  background-color: var(--app-bg-select);
  width: 250px;
  color: var(--app-bg-text);
  outline: none;
  padding: 0 .5rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
.input__field:hover {
  background-color: var(--app-bg-select-hover);
}

