<div class="actions">
    <div class="actions__wrapper">

      <div class="search">
        <select name="input_field" class="input__field" [(ngModel)]="input_field">
          <option *ngFor="let field of headers" value="{{field}}">{{field}}</option>
        </select>
        <input class="actions__wrapper__search" placeholder="Search..." [(ngModel)]="input" type="text" id="inputSearch" (input)="search()">
      </div>

      <div class="actions__wrapper__group">
        <p>{{title}}</p>
        <button
        class="actions__wrapper__group__create"
        *ngIf="hasButtonCreate"
        routerLink="create">
          {{titleButtonCreate}}
        </button>

      </div>

    </div>
</div>
