img, svg {
  width: 100%;
}
th {
  padding: 1rem .5rem;
}
td {
  padding: .5rem;
}
.container {
  height: 560px;
}
.table-view {
  max-height: 415px;
  overflow-y: auto;
}
.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  overflow-y: auto;
}
.table__row {
  cursor: pointer;
}
.table__head {
  background-color: var(--app-header-table);
  opacity: 1;
  position: sticky;
  top: 0;
}
.table__row--head {
  padding: .5rem 0;
  cursor: auto;
}
.table__row--data:hover,
.selected {
  background-color: var(--app-header-table);
}
.selected {
  font-weight: bold;
}

.button {
  padding: .5rem 1rem;
  border: none;
  transition: .15s;
  cursor: pointer;
}
.button--danger {
  background-color: var(--app-button-red);
  color: white;
}
.button--danger:hover {
  background-color: var(--app-button-red-hover);
}
.table__body__img {
  max-width: 128px;
  text-align: center;
}
