canvas {
  display: flex !important;
  width: 100% !important;
  height: 300px !important;
}
h2 {
  margin-top: 0;
}
.chart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chart__content {
  height: 100%;
  width: 100%;
}
