<div class="container">
  <app-actions-header-table [hasButtonCreate]="true" [titleButtonCreate]="'+ Generar reserva'">
  </app-actions-header-table>
  <div class="table-view">
    <table class="table">
      <thead class="table__head">
        <tr class="table__row table__row--head">
          <th class="text-uppercase">id</th>
          <th>Titular <span class="text-uppercase">id</span></th>
          <th>Habitacion <span class="text-uppercase">id</span></th>
          <th>Estado</th>
          <th>Fecha de llegada</th>
          <th>Cantidad de dias</th>
          <th>Recepcionista <span class="text-uppercase">id</span></th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody class="table__body">
        <tr *ngFor="let reserva of reservas" class="table__row table__row--data" [class]="{ 'disabled' : reserva.estado == 'Cancelado' || reserva.estado == 'Pasado' }"
        (click)="reserva.estado != 'Cancelado' && reserva.estado != 'Pasado' ? showReserva(reserva.id) : null">
          <td>{{reserva.id}}</td>
          <td class="text-uppercase">{{reserva.titular_id}}</td>
          <td>{{reserva.habitacion_id}}</td>
          <td>{{reserva.estado}}</td>
          <td>{{reserva.fecha_llegada}}</td>
          <td>{{reserva.cantidad_dias}}</td>
          <td>{{reserva.recepcionista_id}}</td>
          <td class="buttons">
            <button class="button button--next" (click)="checkinReserva(reserva.id, $event)" *ngIf="reserva.estado != 'Cancelado' && reserva.estado != 'Registrado' && reserva.estado != 'Pasado'">
              <app-check-icon></app-check-icon>
            </button>
            <button class="button button--next" (click)="returnReserva(reserva.id, $event)" *ngIf="reserva.estado == 'Cancelado'">
              <app-return-icon></app-return-icon>
            </button>
            <button class="button button--danger" (click)="cancelReserva(reserva.id, $event)" *ngIf="reserva.estado != 'Cancelado' && reserva.estado != 'Registrado' && reserva.estado != 'Pasado'">
              <app-cancel-icon></app-cancel-icon>
            </button>
            <button class="button button--danger" (click)="deleteReserva(reserva.id, $event)" *ngIf="reserva.estado == 'Cancelado'">
              <app-delete-icon></app-delete-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
