img, svg {
  width: 100%;
}
th {
  padding: 1rem .5rem;
}
td {
  padding: .5rem;
}
.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.table__row {
  cursor: pointer;
}
.table__head {
  background-color: var(--app-header-table);
}
.table__row--head {
  padding: .5rem 0;
  cursor: auto;
}
.table__row--data:hover {
  background-color: var(--app-header-table);
}
.buttons {
  display: flex;
  justify-content: center;
  column-gap: .2rem;
}
.button {
  border: none;
  transition: .15s;
  padding: .25rem;
  border-radius: 4px;
  cursor: pointer;
}
.button--danger {
  background-color: var(--app-button-red);
  color: white;
}
.button--danger:hover {
  background-color: var(--app-button-red-hover);
}
.button--next {
  background-color: var(--app-button-blue);
  color: white;
}
.button--next:hover {
  background-color: var(--app-button-blue-hover);
}
.disabled {
  cursor: auto;
}
.disabled:hover {
  background-color: initial;
}
