<div class="routes">
  <div class="routes__route" [ngClass]="{'active': currentRoute('home')}" routerLink="home">
    <div class="routes__route__icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
      class="feather feather-home">
        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
        <polyline points="9 22 9 12 15 12 15 22" />
      </svg>
    </div>
    <div class="routes__route__text">
      Home
    </div>
  </div>
  <div class="routes__route" [ngClass]="{'active': currentRoute('huespedes')}" routerLink="huespedes">
    <div class="routes__route__icon">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
      </svg>
    </div>
    <div class="routes__route__text">
      Huespedes
    </div>
  </div>
  <div class="routes__route" [ngClass]="{'active': currentRoute('habitaciones')}" routerLink="habitaciones">
    <div class="routes__route__icon">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
        <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
        <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
      </svg>
    </div>
    <div class="routes__route__text">
      Habitaciones
    </div>
  </div>
  <div class="routes__route" [ngClass]="{'active': currentRoute('reservas')}" routerLink="reservas">
    <div class="routes__route__icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="“round”" stroke-linejoin="round" class="feather feather-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20">
      </path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
      </svg>
    </div>
    <div class="routes__route__text">
      Reservas
    </div>
  </div>
  <div class="routes__route" [ngClass]="{'active': currentRoute('checkins')}" routerLink="checkins">
    <div class="routes__route__icon">
      <app-checkin-icon></app-checkin-icon>
    </div>
    <div class="routes__route__text">
      Check-ins
    </div>
  </div>
  <div class="routes__route" [ngClass]="{'active': currentRoute('checkouts')}" routerLink="checkouts">
    <div class="routes__route__icon">
      <app-checkout-icon></app-checkout-icon>
    </div>
    <div class="routes__route__text">
      Check-outs
    </div>
  </div>
  <div class="routes__route" (click)="logout()">
    <div class="routes__route__icon">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round">
        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
        <polyline points="16 17 21 12 16 7" />
        <line x1="21" y1="12" x2="9" y2="12" />
      </svg>
    </div>
    <div class="routes__route__text">
      Cerrar sesion
    </div>
  </div>
</div>
