<div class="wrapper">
  <form class="view-form" [formGroup]="formData" *ngIf="ready" (submit)="submit()">
    <div class="form">
      <div class="form__body">
        <div class="form__body__group">
          <label for="nombres" class="form__label">Nombres</label>
          <input type="text" class="form__control" name="nombres" placeholder="Nombres"
          formControlName="nombres" required
          (change)="clearError('nombres')"
          [class]="{'error' : errors.nombres !== ''}">
        </div>
        <div [hidden]="errors.nombres === ''" class="error__label">
          {{errors?.nombres}}
        </div>
        <div class="form__body__group">
          <label for="apellidos" class="form__label">Apellidos</label>
          <input type="text" class="form__control" name="apellidos" placeholder="Apellidos"
          formControlName="apellidos" required
          (change)="clearError('apellidos')"
          [class]="{'error' : errors.apellidos !== ''}">
        </div>
        <div [hidden]="errors.apellidos === ''" class="error__label">
          {{errors?.apellidos}}
        </div>
        <div class="form__body__group">
          <label for="tipo_identificacion" class="form__label">Tipo identificacion</label>
          <select name="tipo_identificacion" formControlName="tipo_identificacion" required class="form__control">
            <option value="Dni" selected>DNI</option>
            <option value="Carnet_Extranjeria">CARNET_EXTRANJERIA</option>
          </select>
        </div>
        <div class="form__body__group">
          <label for="identificacion" class="form__label">Identificacion</label>
          <input type="number" step="1" class="form__control" name="identificacion" placeholder="Identificacion" formControlName="identificacion" required
          (change)="clearError('identificacion')"
          [class]="{'error' : errors.identificacion !== ''}">
        </div>
        <div [hidden]="errors.identificacion === ''" class="error__label">
          {{errors?.identificacion}}
        </div>
        <div class="form__body__group">
          <label for="nombres" class="form__label">Sexo</label>
          <select name="sexo" formControlName="sexo" required class="form__control">
            <option value="Masculino" selected>Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
        </div>
        <div class="form__body__group">
          <label for="relacion" class="form__label">Relacion</label>
          <input type="text" class="form__control" name="relacion" placeholder="Relacion con titular" formControlName="relacion"
          (change)="clearError('relacion')"
          [class]="{'error' : errors.relacion !== ''}">
        </div>
        <div [hidden]="errors.relacion === ''" class="error__label">
          {{errors?.relacion}}
        </div>
        <div class="form__submit">
          <button type="submit" class="form__submit__button form__submit__button--create" [disabled]="formData.pristine && formData.invalid" [class]="{'disabled' : formData.pristine && formData.invalid}">Actualizar acompañante</button>
          <button routerLink="../.." (click)="$event.preventDefault()" class="form__submit__button form__submit__button--cancel">Volver</button>
        </div>
      </div>
    </div>
  </form>
</div>
