/* Fonts */
@font-face {
  font-family: "Montserrat";
  src: url('./assets/Fonts/Montserrat/static/Montserrat-Regular.ttf');
}
@font-face {
  font-family: "Poppins";
  src: url('./assets/Fonts/Poppins/Poppins-Regular.ttf');
}

/* Global styles */
*, *::after, *::before {
  box-sizing: border-box;
}
body {
  margin: 0;
}
