@import url(assets/styles/normalize.css);
@import url(assets/styles/variables.css);

/* Fonts */
@font-face {
  font-family: "Montserrat";
  src: url('./assets/Fonts/Montserrat/static/Montserrat-Regular.ttf');
}
@font-face {
  font-family: "Poppins";
  src: url('./assets/Fonts/Poppins/Poppins-Regular.ttf');
}

/* Global styles */
*, *::after, *::before {
  box-sizing: border-box;
  transition: all .02s ease-in-out;
}
body, html {
  margin: 0;
  height: 100%;
}

/* Utilidades */
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.hidden_row {
  display: none;
}
