:root {
  --app-bg-content: #dfdfdf90;

  --app-content-switch: #ffffff;
  --app-bg-primary: #ece9e9f3;
  --app-bg-text: #121111d1;
  --app-bg-text-primary: #ffffff;

  --app-sidebar-background: #e9e8e8c9;
  --app-sidebar-header: #232222;
  --app-sidebar-route-hover: #d1cfcfc9;

  --app-header: #242323ef;
}
.dark:root {
  --app-bg-content: #141111ef;
  --app-bg-content-text: #141111ef;

  --app-bg-primary: #121111d1;
  --app-bg-text: #ece9e9f3;

  --app-sidebar-background: #0a0a0adc;
  --app-sidebar-header: #050404;
  --app-sidebar-route-hover: #3e3d3dc9;

  --app-header: #151515ef;
}
